<style type="text/css">
	
body{
	padding-top: 50px;
	padding-bottom: 20px;

}
ul.nav, .jumbotron{
	font-family: 'Arvo', courier serif;
}
ul.nav{
	font-size: 13px;
}
.jumbotron{
	text-align: center;
}
.jumbotron h1{
	color: green;
	opacity: 0,7;
	padding: 20px, 10px;
	}
.btn-lg{
	font-size: 36px;
}
div.pic, div.navbar-brand{
	float: left;
}
}
</style>